* {
  font-family: 'Open Sans', sans-serif;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  
}

/*Header*/

header {
  background-color: #404041;
  color: #DD1972;
  text-align: center;
  height: 100px;
}

h1 {
  font-size: 50px;
  font-weight: 800;
}

.header-text {
  color: #ffffff;
}

.header-small-text{
  font-weight: 400;
}

/*Main*/

main{
  display:flex;
}

/*Begin Current Game Section*/

.current-game{
  background-color:#f7f7f7;
  width:50%;
  padding:10px;
}

/*Set Range Box*/

.set-range-box {
  background-color: #FFFFFF;
  border: 2px solid #D0D2D3;
  height: 95px;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  padding: 16px;
  margin: 18px;
}

h2 {
  font-size: 15px;
  color: #6E6E6E;
}

form, input, label {
  color: #6E6E6E;
}

.range-column1of3, .range-column2of3, .range-column3of3 {
flex: 2;
}

.input--min-range, .input--max-range {
  font-size: 15px;
}

.button--update-range{
  background-color:#6E6E6E;
  color:#FFFFFF;
  width: 22%;
  min-width: 100px;
  border-radius: 8pc;
  height: 30px;
  font-size: 15px;
  font-weight: bold;
}


/*Current Range Box*/

.current-range-box{
  background-color:#FFFFFF;
  border:2px solid grey;

}

.range-buttons {
  color:#FFFFFF;
}

.input--p1-name, .input--p2-name {
  font-size: 16px;
  width: 55%;
  max-width: 225px;
}

.input--p1-guess, .input--p2-guess {
  font-size: 16px;
  width: 33%;
  max-width: 225px;
}


.button--submit-guess{
  background-color:#6E6E6E;
  color:#FFFFFF;
  width: 33%;
  min-width: 150px;
  border-radius: 8pc;
  height: 30px;
  font-size: 15px;
  font-weight: bold;
}

.button--reset-game{
  background-color:#D0D2D3;
  color:#FFFFFF;
  width: 33%;
  min-width: 150px;
  border-radius: 8pc;
  height: 30px;
  font-size: 15px;
  font-weight: bold;
}

.button--clear-game{
  background-color:#D0D2D3;
  color:#FFFFFF;
  width: 33%;
  min-width: 150px;
  border-radius: 8pc;
  height: 30px;
  font-size: 15px;
  font-weight: bold;
}





/*Latest Score Box*/

.latest-score-box{
  background-color:#FFFFFF;
  border:2px solid grey;
  height: 100px;
}

.output--p1-response, .output--p2-response {
  text-align: center;
  float: left;
}

/*End Current Game Section*/

/*Begin Finished Game Section*/

.finished-games{
  background-color:lightgrey;
  width:50%;
  padding:10px;
}






