* {
  box-sizing:border-box;
  font-family:'Open Sans', sans-serif;
  font-weight:300;
  margin:0;
  padding:0;
}

h1 {
  font-weight: 700;
  font-size: 50px;
  color: #F74D9B;
}

h2{
  color:#6E6E6E;
  font-size:18px;
  font-weight:700;
}

label{
  color:#6E6E6E;
}

p{
  color:#6E6E6E;
}

span{
  color:#6E6E6E;
}


/*Header*/

header {
  background-color: #404041;
  color: #DD1972;
  height:14%;
  text-align: center;
}

.header-text {
  color: #ffffff;
}

.header-text:before, .header-text:after {
  content:"";
  display: inline-block;
  border-top: solid 1px grey;
  position: relative;
  vertical-align: middle;
  width: 140px;
}

.header-text:before {
 right: 0.5em;
 margin-left: -50%;
}

.header-text:after {
 left: 0.5em;
 margin-right: -50%;
}

.header-small-text{
  color: #F74D9B;
}

/*Main*/

main{
  display:flex;
}

/*Begin Current Game Section*/

.current-game{
  background-color:#f7f7f7;
  border-right:1px solid grey;
  padding:10px;
  height:86%;
  width:50%;
  display:flex;
  flex-wrap:wrap;
  justify-content:space-around;
  align-items:center;

}

/*Set Range Box*/

.set-range-box{
    background-color: #FFFFFF;
    border: 2px solid grey;
    height: 17%;
    width: 93%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: baseline;
    align-content: start;
}

.ranges{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-left: 3%;
}

.set-range{
  width: 100%;
  margin-left: 3%;
  display: flex;
  margin-top: 1%;
  margin-left: 3%;
  font-weight: bold;
}
.label-min-range{
  height:25px;
  width:31%;
  margin-right:6%;
}

.label-max-range{
height:25px;
  width:59%;
}

.input--min-range{
  display:inline-block;
  height:35px;
  width:31%;
  margin-right:6%;
}

.input--max-range{
  display:inline-block;
  height:35px;
  width:31%;
  margin-right:6%;
}

.button--update-range{
  /*background-color:#6E6E6E;
  color:#FFFFFF;*/
  background-color:#6E6E6E;
  color:#FFFFFF;
  width: 22%;
  min-width: 105px;
  border-radius: 8pc;
  height:30px;
  font-size: 15px;
  font-weight: bold;
}







/*Current Range Box*/

.current-range-box{
  background-color:#FFFFFF;
  border:2px solid grey;
  height:47%;
  width:93%;
  display: flex;
  flex-wrap: wrap;
}

.current-range-text{
    width: 50%;
    display: flex;
    margin-top: 1%;
    margin-left: 3%;

}

.min-number, .max-number {
  text-decoration:underline;
  font-weight: bold;
}

.challenger-tag{
  height:25%;
  width:100%;
  padding-left:3%;
}

.p1-info{
  height:35%;
  width:100%;
  display:flex;
  flex-wrap:wrap;
  justify-content:space-around;
  align-content:flex-start;
}

.p2-info{
  height:35%;
  width:100%;
  display:flex;
  flex-wrap:wrap;
  justify-content:space-around;
  align-content:flex-start;
}

.p1-name{
width:58%;
}

.p1-guess{
  width:30%;
}

.input--p1-name{
  height:35px;
  width:58%;

}

.input--p1-guess{
  height:35px;
  width:30%;
}

.p2-name{
width:58%;
}

.p2-guess{
  width:30%;
}

.input--p2-name{
  height:35px;
  width:58%;
}

.input--p2-guess{
  height:35px;
  width:30%;
}



.range-buttons{
  height:10%;
  width:100%;
  display:flex;
  justify-content:space-around;
}

.button--submit-guess{
  background-color:#6E6E6E;
  color:#FFFFFF;
  width: 30%;
  min-width: 150px;
  border-radius: 8pc;
  height: 30px;
  font-size: 15px;
  font-weight: bold;
}

.button--reset-game{
  background-color: #D0D2D3;
  color: #FFFFFF;
  width: 30%;
  min-width: 150px;
  border-radius: 8pc;
  height: 30px;
  font-size: 15px;
  font-weight: bold;
}

.button--clear-game{
  background-color:#D0D2D3;
  color:#FFFFFF;
  width: 30%;
  min-width: 150px;
  border-radius: 8pc;
  height: 30px;
  font-size: 15px;
  font-weight: bold;
}








/*Latest Score Box*/

.latest-score-box{
  background-color:#FFFFFF;
  border:2px solid grey;
}

.latest-score-box{
  height:28%;
  width:93%;
  display:flex;
  flex-flow:column wrap;
  justify-content:space-around;
}

.score-header{
  height:18%;
  width:49%;
  font-size:20px;
  font-weight:700;
}

.output--p1-response{
  height:82%;
  width:50%;
  display:flex;
  flex-direction:column;
  justify-content:center;
  align-items:center;
  padding-bottom:25px;
}

.output--p1-guess{
  font-weight:700;
  font-size:70px;
  height: 80px;
  color: #DD1972;
  display:flex;
  align-items:center;
}

.output--p2-response{
  height:85%;
  width:50%;
  border-left:2px solid grey;
  display:flex;
  flex-direction:column;
  justify-content:center;
  align-items:center;
  padding-bottom:10px;
  padding-top:20px;
}

.output--p2-guess{
  font-weight:700;
  height:80px;
  font-size:70px;
  color: #DD1972;
  display:flex;
  align-items:center;
}


/*End Current Game Section*/

/*Begin Finished Game Section*/

.finished-games{
  align-items:center;
  background-color:#D0D2D3;
  border-left:1px solid grey;
  display:flex;
  flex-direction:column;
  justify-content:center;
  padding:10px;
  width:50%;
}

.winner-box{
  background-color:#FFFFFF;
  border:2px solid grey;
  display:flex;
  flex-flow:row wrap;
  height:27%;
  justify-content:center;
  width:87%;
  margin:5px;
}

.contestant-names{
  /*border:2px solid grey;*/
  align-items:center;
  display:flex;
  flex-direction:row;
  height:21%;
  justify-content:space-around;
  width:100%;
}

.output--p1-name{
  font-weight:700;
}

.output--p2-name{
  font-weight:700;
}

.winner{
  align-items:center;
  border-bottom:2px solid grey;
  border-top:2px solid grey;
  display:flex;
  flex-flow:column wrap;
  height:58%;
  justify-content:center;
  width:94%;
}

.winner-name{
  font-weight:700;
  font-size:30px;
}

.winner-tag{
  font-size:30px;
}

.game-stats{
  align-items:center;
  display:flex;
  flex-direction:row;
  height:21%;
  justify-content:space-between;
  width:91%;
}

.guess-count{
  font-weight:700;
  color:#6E6E6E;
}

.game-timer{
  font-weight:700;
}

.close-button{
  width:5%;
}














