* {
  font-family: 'Open Sans', sans-serif;
  box-sizing:border-box;
  margin:0;
  padding:0;
}

/*Header*/

header {
  background-color: #404041;
  color: #DD1972;
  text-align: center;
}

p {
  color: #ffffff;
}

.header-small-text{

}

/*Main*/

main{
  display:flex;
}

/*Begin Current Game Section*/

.current-game{
  background-color:#f7f7f7;
  width:50%;
  padding:10px;
}

/*Set Range Box*/

.set-range-box{
  background-color:#FFFFFF;
  border:2px solid grey;
}

.ranges{
display:flex;

}

.input--min-range{
  display:inline-block;
}

.input--max-range{
  display:inline-block;
}

.button--update-range{
  background-color:#6E6E6E;
  color:#FFFFFF;
}







/*Current Range Box*/

.current-range-box{
  background-color:#FFFFFF;
  border:2px solid grey;
}

.button--submit-guess{
  background-color:#6E6E6E;
  color:#FFFFFF;
}

.button--reset-game{
  background-color:#D0D2D3;
  color:#FFFFFF;
}

.button--clear-game{
  background-color:#D0D2D3;
  color:#FFFFFF;
}








/*Latest Score Box*/

.latest-score-box{
  background-color:#FFFFFF;
  border:2px solid grey;
}

/*End Current Game Section*/

/*Begin Finished Game Section*/

.finished-games{
  background-color:lightgrey;
  width:50%;
  padding:10px;
}






